extends layout

block content
    h1.title.is-1 Log In
    form(method='POST', action='/users/login')
      #field
        label Username:
        input.input(name='username', type='text')
      #field
        label Password:
        input.input(name='password', type='password')
      br
      input.button.is-link(type='submit', value='Log In')
