extends layout

block content
    h1.title.is-1 Register
    form(method='POST', action='/users/register')
      #field
        label Name:
        input.input(name='name', type='text')
      #field
        label Username:
        input.input(name='username', type='text')
      #field
        label Email:
        input.input(name='email', type='text')
      #field
        label Password:
        input.input(name='password', type='password')
      #field
        label Confirm Password:
        input.input(name='password2', type='password')
      br
      input.button.is-link(type='submit', value='Register')
