extends layout

block content
    h1.title.is-1 #{title}
    form(method='POST', action='/articles/edit/'+article._id)
      #field
        label Title:
        input.input(name='title', type='text', value=article.title)
      #field
        label Author:
        input.input(name='author', type='text', value=article.author)
      #field
        label Body:
        textarea.input(name='body')= value=article.body
      br
      input.button.is-link(type='submit', value='Submit')
